@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box; 
}

/*colors*/

:root{
    --Blue: hsl(223, 87%, 63%);
    --PaleBlue: hsl(223, 100%, 88%);
    --LightRed: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --VeryDarkBlue: hsl(209, 33%, 12%);
}



body{
    font-family: "Libre Franklin", sans-serif;  
    font-size: 20px;
}

.main-container{
    margin: 85px auto 60px;


}

.ping{
    width:52px;
    display: block;/*convert to display block*/
    margin: 0 auto 40px;
}

.title{
    font-size: 1.2em;
    font-weight: 300;
    color:var(--Gray);
    text-align: center;
    margin-bottom: 16px;
}
h1 span{
    color: var(--VeryDarkBlue);
    font-weight: 700;
}
.paragraph{
    text-align: center;
    font-size: 0.65em;
    margin-bottom: 36px;
}
form{
    width: 282px;
    margin: auto;
}

input[type="email"]{/* [] atributtes */
    width: 100%;
    height: 40px;
    border-radius: 32px;
    margin-bottom: 4px;
    border: 1px solid var(--Blue);
    padding-left: 24px;
    text-decoration-color: var(--Gray);

}

::placeholder {
     color: var(--Gray);
 }

input[type="email"]:focus { /*click on input*/
    outline: none;
}
.error{
    color: var(--LightRed);
    font-style: italic;
    font-size: 0.65em;
    text-align: center;
    visibility: hidden; /*error message hiddenn*/
    margin-bottom: 15px;
}
input[type="submit"]{
    background-color: var(--Blue);
    width: 100%;
    height: 40px;
    border-radius: 32px;
    border: none;
    font-weight: 700;
    margin-bottom: 70px;
    box-shadow: 2px 2px 5px var(--Blue);
    color: var(--PaleBlue);
}
input[type="submit"]:hover{
    cursor: pointer;
}

.img{
    width: 322px;
    display: block; /*to center img*/
    margin: auto;
    margin-bottom: 120px;
}
.social-container{
    width: 150px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
  
}
.icon-container{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--Blue);
    display: grid;
    place-content: center;/*to center icon*/
    fill: var(--Blue);/*change color*/
   
}
.icon-container:hover{
    background-color: var(--Blue);
    fill: var(--PaleBlue);
}
.icon{
    width: 0.9em;
    height: 0.9em;
}
.copy{
    text-align: center;
    color: var(--Gray);
    font-size: 0.6em;
}
/*footer*/

.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/*Media Query */

@media (min-width:700px) {
    .ping{
        width: 96px;
        margin-bottom: 60px;
    }

    .title{
        font-size: 2.5em;
    }
    .paragraph{
        font-size: 1.05em;
        font-weight: 300;
    }
    form{
        width: 638px;
        display: flex;
        justify-content: space-between;
    }
    input[type="email"]{
        width: 420px;
        height: 55px;
        font-size: 0.8em;
    }
    input[type="submit"]{
        width: 200px;
        height: 55px;
        margin-bottom: 90px;
        font-size: 0.8em;
    }
    .error{
        text-align: left;
        padding-left: 24px;
        font-size: 0.65em;
    }
    .img{
        width: 640px;
        margin-bottom: 74px;
    }

}